.details-section {
    color: white;
    padding: 20px;
}

.details-section > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.details-section > div > h1 {
    padding: 5px;
    font-size: 2.25rem;
}

.details-section > div > div:first-of-type {
    width: 300px;
}

.details-section > div > div > img {
    width: 100%;
}

.details-section .details-btn-ctn {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    padding: 20px;
}

/* Actors / Similar movies */

.actors-ctn > h3 {
    padding: 15px 0px;
}

.details-card-list  {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.details-card-list > .details-card {
    width: 400px; 
}