.details-section {
    color: white;
    padding: 20px;
}

.details-section img.backdrop {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: -1;
}

.details-section > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.details-section > div > .poster-img {
    margin-top: 45%;
    max-height: 300px;
}

.details-section > div > .poster-without-backdrop {
    max-height: 300px;
}

.details-section .similar-movies-ctn > h3, 
.details-section .actors-ctn > h3 {
    padding: 10px;
}

.details-section > div > h1 {
    padding: 5px;
    font-size: 2.25rem;
}

.details-section > div > div > img {
    width: 100%;
}

.details-section .details-btn-ctn {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    padding: 20px;
}

/* Actors / Similar movies */

.actors-ctn > h3 {
    padding: 15px 0px;
}

.details-card-list  {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.details-card-list > .details-card {
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 450px;
    margin-bottom: 10px;
}

.details-card-list > .details-card img {
    max-width: 185px;
}

.details-card-list > .details-card > h3 {
    padding: 0px 10px;
}