.list-movies > h1{
    text-align: center;
}

.movie-cnt {
    cursor: pointer;
    display: flex;
    justify-content: flex;
    flex-direction: column;
    color: black;
    background-color: lightgrey;
}

.movie-cnt .link-movie {
    display: contents;
    color: black;
}

.movie-cnt .link-movie:hover {
    text-decoration: none;
}

.movie-cnt .link-movie > * {
    text-align: center;
}

.movie-cnt .link-movie > h2 {
    font-size: 1.5rem;
}

.movie-cnt .link-movie > img {
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
}

.movie-cnt .link-movie > p,
.movie-cnt .link-movie > span {
    margin-bottom: 5px;
}

.movie-cnt > div:last-of-type {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}