.add-movie-cnt {
    color: white;
    padding: 10px;
}

/* Gestion des deux formulaires */

.add-movie-cnt form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    color: white;
}

.add-movie-cnt form > div {
    padding-top: 10px;
}

.add-movie-cnt form .submit {
    margin-top: 20px;
    width: 250px;
}

.add-movie-cnt form > label {
    padding-top: 10px;
} 

.add-movie-cnt form label {
    font-weight: bold;
} 

.add-movie-cnt form h2 {
    padding-bottom: 10px;
}

.add-movie-cnt form .btn-ctn {
    padding: 10px 0px;
}

.add-movie-cnt form .btn-ctn > .btn {
    width: 100px;
}

.add-movie-cnt form .btn-ctn > .btn:first-of-type {
    margin-right: 15px;
}

/* Liste des résultats de recherche */

.add-movie-cnt .list-movies {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.add-movie-cnt .list-movies > .movie-result-cnt {
    margin-top: 40px;
    background-color: lightgrey;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    min-width: 310px;
    height: 400px;
    border-radius: 20px;
}

.add-movie-cnt .list-movies > div {
    max-width: 50%;
    text-align: center;
}

.add-movie-cnt .list-movies > div img {
    width: 100%;
    margin: auto;
}

.add-movie-cnt .list-movies h2 {
    font-size: 1.3rem;
}