.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-movie-cnt form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.add-movie-cnt form .submit {
    margin-top: 10px;
    width: 250px;
}

.add-movie-cnt .list-movies {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.add-movie-cnt .list-movies > .movie-result-cnt {
    margin-bottom: 10px;
    height: 370px;
}

.add-movie-cnt .list-movies > .movie-result-cnt > div:first-of-type {
    background-color: lightgray;
    height: 100%;
}

.add-movie-cnt .list-movies > * img {
    width: 50%;
    margin: auto;
}

.add-movie-cnt .list-movies h2 {
    font-size: 1.3rem;
}